/*Root Color   */
:root {
	/* Color Palates */
	--MainColor: #9400d3;
	--SecondColor: #6d7b8d;
	--ThirdColor: #f0e850;
	--TextMainColor: #36013f;
	--TextHighlightColor: #9400d3;
	--TextSecondColor: #6d7b8d;
	--ButtonHover: #c2c2c2;
	--BoxShadow: #f5fffa;

	/* Text Font Sizes */
	--PcFont: 0.9rem;
	--MobileFont: 0.9rem;
	--TabletFont: 0.8rem;
	--PcFontSmall: 0.85rem;
	--MobileFontSmall: 0.7rem;
	--TabletFontSmall: 0.55rem;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
button {
	font-family: Nunito;
}

@media screen and (max-device-width: 600px) {
	body {
		-webkit-text-size-adjust: 100%;
	}
}

/* Selection Color */
::-moz-selection {
	/* Code for Firefox */
	/* color: var(--whiteColor);
	background: var(--darkRedColor); */
}

::selection {
	/* color: var(--whiteColor);
	background: var(--darkRedColor); */
}

/* React-Slider CSS */
/* Arrow CSS */
.slick-next {
	right: -35px !important;
}

.slick-next:before {
	color: var(--TextMainColor) !important;
}

.slick-prev {
	left: -35px !important;
}

.slick-prev:before {
	color: var(--TextMainColor) !important;
}

/* Dots Css */
.slick-dots {
	bottom: -60px;
}

.slick-dots li.slick-active button:before {
	color: var(--TextMainColor) !important;
	font-size: 1.4rem;
}

.slick-dots li button:before {
	color: #818181 !important;
	font-size: 1rem;
}

@media (max-width: 600px) {
	.slick-dots {
		bottom: -50px !important;
	}
	.slick-dots li.slick-active button:before {
		font-size: 1.2rem;
	}

	.slick-dots li button:before {
		font-size: 0.7rem;
	}
}

@media (min-width: 601px) and (max-width: 1024px) {
	.slick-dots {
		bottom: -60px;
	}
	.slick-dots li.slick-active button:before {
		font-size: 1rem;
	}
	.slick-dots li button:before {
		font-size: 0.6rem;
	}
}

@media (min-width: 1900px) {
	.slick-dots {
		bottom: -80px;
	}
	.slick-dots li.slick-active button:before {
		font-size: 3rem;
	}
	.slick-dots li button:before {
		font-size: 2.5rem;
	}
	.slick-dots li {
		margin-left: 2rem;
	}
}
